@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/jquery.easyui-1.4.5.js"></script>
    <script src="~/Scripts/locale/easyui-lang-zh_CN.js"></script>
</head>
<body class="easyui-layout">
    @* North *@
    <div data-options="region:'north',border:false" title="权限管理系统" style="height:90px;">
        <div class="easyui-layout" data-options="fit:true" title="North" style="height:100%;">
            <div data-options="region:'center',splot:'true'">
                <h1>权限管理系统 @@MVC权限系统</h1>
            </div>
            <div data-options="region:'east',split:'true'">
                欢迎管理员 @ViewBag.UName 登录权限管理后台
                当前时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
                <a href="#">注销</a>
            </div>
        </div>
    </div>

    @* West *@
    <div data-options="region:'west',split:true,title:'West'" style="width:150px;">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="Title1">
                content1
            </div>
            <div title="Title2" data-options="selected:true" style="padding:10px;">
                content2
            </div>
            <div title="Title3" style="padding:10px">
                content3
            </div>
        </div>
    </div>

    @* East *@
    <div data-options="region:'east',split:true,collapsed:true,title:'East',iconCls:'icon-refresh'" style="width:100px;">
        <ul class="easyui-tree" data-options="url:'tree_data1.json',method:'get',animate:true,dnd:true"></ul>
    </div>
    @* South *@
    <div data-options="region:'south',border:false" style="height:50px;padding:10px;">south region</div>
    @* Center *@
    <div data-options="region:'center',title:'Center'">
        <div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
            <div title="About" data-options="href:'_content.html'" style="padding:10px"></div>
            <div title="DataGrid" style="padding:5px">
                <table class="easyui-datagrid"
                       data-options="url:'datagrid_data1.json',method:'get',singleSelect:true,fit:true,fitColumns:true">
                    <thead>
                        <tr>
                            <th data-options="field:'itemid'" width="80">Item ID</th>
                            <th data-options="field:'productid'" width="100">Product ID</th>
                            <th data-options="field:'listprice',align:'right'" width="80">List Price</th>
                            <th data-options="field:'unitcost',align:'right'" width="80">Unit Cost</th>
                            <th data-options="field:'attr1'" width="150">Attribute</th>
                            <th data-options="field:'status',align:'center'" width="50">Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
</html>