@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/jquery.easyui-1.4.5.js"></script>
    <script src="~/Scripts/locale/easyui-lang-zh_CN.js"></script>
</head>
<body class="easyui-layout">
    @* North *@
    <div data-options="region:'north'" title="权限管理系统" style="height:90px;">
        <div class="easyui-layout" data-options="fit:true,borde:false" title="North" style="height:100%;">
            <div data-options="region:'center',splot:'true',border:false" style="width:45%; text-align:center;height:100%">
                <h2>@*权限管理系统 @@MVC权限系统*@</h2>
            </div>
            <div data-options="region:'east',split:'true',border:false" style="width:55%;">
                <p>欢迎管理员 @ViewBag.UName 登录权限管理后台</p>
                当前时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
                <a href="#">注销</a>
            </div>
        </div>
    </div>

    @* West *@
    <div data-options="region:'west',split:true,title:'菜单导航'" style="width:150px;padding:1px;overflow:hidden;">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="后台用户管理" data-options="selected:true" iconCls="icon-edit" style="padding:10px;overflow:hidden;">
                <p><a href="javascript:void(0);">用户管理</a></p>
                <p><a href="javascript:void(0);">角色管理</a></p>
                <p><a href="javascript:void(0);">权限管理</a></p>
            </div>
            <div title="网站广告管理" data-options="iconCls:'icon-edit'" style="padding:10px">
                content2
            </div>
            <div title="网站新闻管理" data-options="iconCls:'icon-edit'" style="padding:10px">
                content3
            </div>
        </div>
    </div>
    @* Center *@
    <div data-options="region:'center',title:'网站首页>用户管理>用户列表'" style="overflow:hidden">
        center content
    </div>
    @* East *@
    <div data-options="region:'east',split:true,collapsed:true,title:'日历信息'" style="width:235px;">
        <div class="easyui-calendar" style="width:230px;height:230px"></div>
    </div>
    @* South *@
    <div data-options="region:'south',border:false,title:'MVC权限系统Footer',border:false" style="height:60px;">
        <div class="easyui-layout" data-options="fit:true,border:false" style="background:#ccc;">
            <div data-options="region:'center',border:false" style="text-align:center;height:100%">
                版权所有： XXX
            </div>
            south region
        </div>
    </div>
</body>
</html>